.dasbord{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 30px;
   
}
.dashheading{
 color: rgb(79, 174, 236);
 margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
    .dasbord{
        display: grid;
        grid-template-columns:  1fr;
        gap: 30px;
        padding: 5px;
         
      }
  }